.yt_link{
    text-decoration: none;
    font-weight: bold;
    color: red;
}

.navbar-brand{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    max-width: 650px !important;
    margin: 0 auto;
}

body {
  font-family: 'Poppins', sans-serif;
}

.main_container{
    margin: 0 auto;
    background: #fff;
}

form, .form{
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    width: 90%;
    border-radius: 4px;
    background: #ffffff;
    box-shadow:  12px 12px 24px #f5f5f5,
             -12px -12px 24px #ffffff;
}
.yt_hero, .yt_content{
    margin: 0 auto;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.yt_hero_text{
    padding-top: 50px !important;
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: #000;
    margin-bottom: 0;
}
.yt_hero_text_sub{
    margin: none;
    color: #000;
}
.input_box{
    border: 2px solid #efefef;
    border-radius: 10px;
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    margin-bottom: 5px;
    padding: 10px;
}
.yt_search{
    outline: none;
    padding: 0px 0px 0px 15px;
    border: none;
    height: 80%;
    font-size: 15px;
    width: 96%;
}
.yt_search_go{
    width: 100%;
    background: red;
    border: none;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
    font-weight: bolder;
}
button:disabled{
    background: grey;
    cursor: not-allowed;
}
.yt_res_select{
    padding: 20px 0px;
}
.yt_hi_title{
    font-weight: bold;
    font-size: larger;
}
.yt_res{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background: #efefef; */
    border-bottom: 2px dotted #efefef;
    border-top: 2px dotted #efefef;
    padding: 5px 15px;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    margin: 5px 0px;
}

.yt_contents{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
}
.yt_contents_sub{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 90%; */
}
.yt_contents_sub2{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 650px;
}



.yt_title{
    font-weight: bold;
    font-size: 25px;
}
.yt_home_item{
    padding: 20px;
    text-align: left;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 300px;
    /* border: 1px solid red; */
    border-radius: 10px;
    margin: 15px 0px;
}
.yt_home_item:hover{
    scale: 1.1;
}

.yt_home_item2{
    padding: 20px;
    text-align: left;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 10px;
    margin: 15px 0px;
}


.yt_home_item > span{
    font-size: 60px;
}
.yt_footer{
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    color: grey;
}
.loader-line {
            width: 100%;
            height: 3px;
            position: relative;
            overflow: hidden;
            background-color: #ddd;
            margin: 0 auto;
            margin-bottom: 10px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
.loader-line:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 3px;
    width: 40%;
    background-color: red;
    -webkit-animation: lineAnim 1s linear infinite;
    -moz-animation: lineAnim 1s linear infinite;
    animation: lineAnim 1s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.download_btn{
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 8px 10px;
    border-radius: 8px;
    margin: 8px 0px;
    border: 5px 0px;
    max-width: 160px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.yt_thumbnail{
    width: 100%;
}

.input_box > i{
    /* font-size: 40px; */
    padding: 10px;
    cursor: pointer;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.table>tbody {
    font-size: 1em !important;
    color: red;
}

.td{
    vertical-align: middle !important;
}


.alert-warning{
    position: sticky !important;
    top: 0 !important;
    margin: 0 auto !important;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    font-size: 14px;
    /* background: #02022b; */
    color: #000000;
    gap: 15px;
}
.footer-list-head{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 15px 0px;
}
.footer-list-head > li{
    /* padding: 5px 0px; */
}
.footer-list-head > li{
    text-decoration: none;
    color: #000000;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.yt_tiny_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    /* font-size: small; */
    gap: 10px;
}

@keyframes lineAnim {
    0% {left: -40%;}
    50% {left: 20%;width: 80%;}
    100% {left: 100%;width: 100%;}
}
    

.green{
    background: #f2f6ff;
    color: #111;
}
.blue{
    background: #00004A;
    color:#ffffff;
}
.red{
    background: #ff0000;
    color: #fff;
}

.grey{
    background: #f2f6ff;
    color: #000000;
}

.yt_statement{
    text-align: center;
    margin-top: 25px;
}

.yt_whatsapp{
    padding: 10px;
    background: rgb(48, 229, 48);
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

/* ----------- custom modal styles -------------- */
.yt_custom_modal_1{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    font-size: 5em;
    font-weight: bolder;
    z-index: 99999;
    height: 100vh;
    width: 100%;
    background: #eff7ff;
    color: #1f086a;
    line-height: 80px;
}

.modal_dismiss{
    font-size: 30px;
    position: absolute;
    color: #000000;
    top: 10px;
    right: 20px;
    cursor: pointer;
}